@import './variables.scss';
@import './themes/default.scss';

$alert-prefix: '#{$so-prefix}-alert';

//
// Alerts
// --------------------------------------------------

// Base styles
// -------------------------

.#{$alert-prefix} {
  position: relative;
  display: flex;
  padding: $alert-padding-y $alert-padding-x;
  margin-bottom: $line-height-computed;
  border: 1px solid transparent;
  border-radius: $alert-border-radius;
  transform-origin: 0 0;
  transition: transform 0.216s, opacity 0.216s ease-out;

  // Headings for larger alerts
  h2,
  h3,
  h4 {
    margin-top: 0.3em;
    // Specified for the h4 to prevent conflicts of changing $headings-color
    color: inherit;
  }

  &-with-close {
    padding-right: $alert-padding-x + 20;
  }

  // Provide class for links that match alerts
  &-link {
    font-weight: $alert-link-font-weight;
  }

  &-close {
    position: absolute;
    // line-height: 1;
    top: $alert-padding-y;
    right: 12px;
    display: block;

    svg {
      width: 10px;
      height: 10px;

      path {
        fill: rgba(0, 0, 0, 0.3);
      }
    }

    &:hover svg path {
      fill: rgba(0, 0, 0, 0.8);
    }
  }

  &-dismissed {
    opacity: 0;
    transform: scaleY(0);
  }

  &-icon {
    display: block;
    margin-top: 1px;
  }

  &-content {
    flex: 1;
    word-break: break-all;
  }
}
